<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div class="card" style="width: 100%">
  <div class="card-body">
    <h5 class="card-title">Example request</h5>
    <p class="card-text">
        <pre>POST /pdf
{{ sample_payload_obj }}</pre>
    </p>
    <a href="/pdf/" class="btn btn-primary">Try it out</a>
  </div>
</div>
</body>
</html>
